.navbar-nav .nav-link {
    color: rgb(253, 255, 254) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(108, 145, 226, 0.5) !important;
}

body {
    font-family: 'Lato', sans-serif;
}

#blogtitle {
    font-size: 3rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 3rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}
