
{% extends 'projects/base.html' %}

{% block content %}

    <div class = "container text-center"> 
      <h1 class = ""> Idowu's Blogposts </h1>
</div>
<div class = "container text-center">
{% for blog in myblogs %}
<br>
<a href="{% url 'blog:detail' blog.id %}"><h2>{{ blog.title }} </h2> </a>
<img src="{{ blog.image.url }}" > 

<br>
<p>
{{ blog.description|striptags|truncatechars:100 }} <br>
{{ blog.date|date:'M d Y'|upper}}
</p>

<br>
{% if blog.url %}
<a href= "{{ blog.url }}" class="btn btn-danger"> Link</a>
{% endif %}


{% endfor %}
</div>

{% endblock %}